/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

/*
general
*/

img {
    width: 100%;
}

button {
    cursor: pointer;
}

/* 
header
*/

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 100px;
}

header .upgrade-btn {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: solid 1px white;
    display: inline-block;
    transition: all 0.2s linear;
}

header .upgrade-btn:hover {
    transform: scale(1.1);
}

/* 
footer
*/