/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

/*
general
*/

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.myrow {
    display: flex;
    align-items: center;
}

.mycol-1-3 {
    width: calc(100% / 3);
}

/* 
Section Music
*/

#music {
    height: calc(100vh - 70px);
    display: flex;
}


/* 
Aside
 */

aside {
    width: 200px;
    background-color: black;
}

aside .logo img {
    width: 100px;
}

/* 
main "header"
*/

main {
    background-color: #141922;
    width: calc(100% - 200px);
}

.sticky-element {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: end;
    padding: 20px;
    position: sticky;
    top: 0;
}

.upgrade-btn {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: solid 1px white;
    display: inline-block;
    transition: all 0.2s linear;
}

.sticky-element .upgrade-btn:hover {
    transform: scale(1.1);
}

/* 
main playlist
*/



/* 
footer
*/

footer {
    color: white;
    background-color: #282828;
    height: 70px;
}

footer .myrow {
    justify-content: space-between;
}

/* sx */

footer .current-song {
    justify-content: start;
}

footer .current-song>* {
    margin: 0 10px;
}

.current-song i {
    color: #707070;
    margin-right: 10px;
}

.current-song i:hover {
    color: white;
}

footer .song-cover {
    width: 50px;
}

footer .singer-song {
    font-size: small;
}

footer .singer-song a {
    display: inline-block;
    text-decoration: none;
}

footer .song-name {
    color: #707070;
}

footer .song-name:hover {
    color: white;
    text-decoration: underline;
}

footer .singer-name {
    color: white;
    font-weight: bold;
}

/* center */

footer .control-buttons {
    display: flex;
    justify-content: space-evenly;
}

footer .control-buttons>* {
    color: white;
    border: none;
    background-color: transparent;
}

footer .timing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

footer .timing .line-time {
    width: 80%;
    height: 3px;
    border-radius: 20px;
    background-color: #5A5A5A;
}

footer .timing .line-animation {
    width: 30%;
    height: 3px;
    border-radius: 20px;
    background-color: #c1c1c1;
}

footer .timing .line-animation:hover {
    background-color: greenyellow;
    height: 3.5px;
}

footer .timing {
    font-size: small;
}

/* dx */

footer .volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
}

footer .volume>* {
    margin: 10px;
}

footer .volume .line-volume {
    width: 20%;
    height: 3px;
    border-radius: 20px;
    background-color: #5A5A5A;
}

footer .volume .line-animation {
    width: 40%;
    height: 3px;
    border-radius: 20px;
    background-color: #c1c1c1;
}

footer .volume .line-animation:hover {
    background-color: greenyellow;
    height: 3.5px;
}